@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar only on large screens */
  @media (min-width: 1024px) { /* lg breakpoint */
    ::-webkit-scrollbar {
      width: 0px; /* Hide scrollbar */
      height: 0px; /* Hide horizontal scrollbar */
    }

    ::-webkit-scrollbar-thumb {
      background: transparent; /* Fully hide the thumb */
    }

    /* For Firefox */
    * {
      scrollbar-width: none; /* Hide scrollbar in Firefox */
    }
  }
}
  
